<div class="search">
  <div class="search__inputs">
    <input
      type="text"
      name=""
      id=""
      [(ngModel)]="searchQuery"
      placeholder="Enter search query."
      class="search__query"
    />
    <button class="search__submit" (click)="performSearch(searchQuery)">
      Search
    </button>
  </div>
  <div class="search__results">
    <ul class="search__results-list">
      <li *ngFor="let book of searchedBooks" class="search__results-item">
        {{ book.id }}
      </li>
    </ul>
    <button (click)="loadMore()" *ngIf="loadMoreQuery !== ''">Load more</button>
  </div>
</div>
